<!-- mobile nav  -->
<div class="nav-mobile d-sm-none text-center fixed-bottom ">

    <a href="#" class="nav-link">
        <%= image_tag('nav/home.svg', class: 'nav-img' ) %>
            <p> Home</p>
    </a>
    <a href="#" class="nav-link">
        <%= image_tag('nav/category.svg', class: 'nav-img' ) %>
            <p> Category</p>
    </a>
    <a href="#" class="nav-link">
        <%= image_tag('nav/post.svg', class: 'nav-img' ) %>

    </a>
    <a href="#" class="nav-link">
        <%= image_tag('nav/inbox.svg', class: 'nav-img' ) %>
            <p> Chat</p>
    </a>
    <a href="#" class="nav-link">
        <%= image_tag('nav/more.svg', class: 'nav-img' ) %>
            <p> More</p>
    </a>

</div>

<!-- desktop -->
<div class="nav d-none d-sm-block text-center">
    desktop
</div>