<div class="product-card ">
    <div class="product-image-container">
        <%= product.name %>

    </div>
    <div class="project-detail">
        <h2 class="product-name">
            <%= product.name %>
        </h2>
        <p class="product-price">
            GHS <%= product.price %>.00
        </p>
        <p class="product-condition">
            <%= product.condition %>
        </p>
        <small class="product-info">
            <%= product.description %>
        </small>
    </div>
</div>